body {background-color: #FFFFFF;}
html {
  /*border: 3px solid #f44242;*/
  border: 0.2em solid black;
  /*border-top: 6em solid #f44242;*/
  padding: -10em -10em -10em -10em;
}
#stickyhome {
  position: fixed;
  top:4em;
  left: 1em;
  z-index:99999;
  width: 4.5em;
  height: 4.5em;
  padding: 0.5em;
  border: 0.5em solid white;
  background-color: #f44242;
  margin: 6px 0;
}
.itembutton {
  cursor: pointer;
  height: 40%;
  width: 30%;
  border: 3px solid white;
  background-color: #707070;
  text-align: center;
  color: white;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 300%;
  opacity: 1;
  padding: -20px 0px -20px -20px;
};
.itembutton:hover {cursor: pointer;}
.imgbutton {
  height: 20%;
  width: 40%;
  display:block;
  border: 3px solid white;
  background-color: #707070;
  text-align: center;
  color: white;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 20px;
  opacity: 1;
  padding: -20px 0px -20px -20px;
  position: relative;

}
.imgbutton: hover {

}

hr {
  padding: 3px 3px 3px 3px;
  border-top: 3px solid black;
  /*position: relative;*/

}

h2 {
  display: inline;
  font-size: 300%;
  font-family: Verdana, Arial, Sans-Serif;
  /*float: left;*/
}
p {
  padding: 4px 4px 4px 4px;
  display: inline;
  font-size: 250%;
  text-align: center;
  font-family: Arial, Sans-Serif;
  position: relative;
  float: right;
}
h1 {
  width: 99.9%;
  height: 1.5em;
  background-color: #f44242;
  /*padding:  -10em -10em -10em -10em;*/
  text-align: center;
  border: 3px solid white;
  font-family: Georgia ,Arial, Helvetica;
  font-size: 500%;
  color: #FFFFFF;

}

img {
  border: 4px solid white;
  height: 30%;
  width: 50%;
  /*float: right;*/
  position: relative;


}
